In [103]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import os
import seaborn as sns
from matplotlib import rcParams
import warnings
warnings.filterwarnings("ignore")

## Field Crops

In [104]:
#reading all field crops csv for different states data to pandas dataframe
field_crops_data=[]
for i in range(1,8):
    df=pd.read_csv(f'data/field_crops{i}.csv')
    field_crops_data.append(df)
#concating all states datas to one dataframe
field_crops=pd.concat([data for data in field_crops_data], axis=0)

In [105]:
#all columns of dataframe
field_crops.columns

Index(['Program', 'Year', 'Period', 'Week Ending', 'Geo Level', 'State',
       'State ANSI', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed',
       'Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value',
       'CV (%)'],
      dtype='object')

In [106]:
#selecting only important columns
field_crops=field_crops[['County','State','Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value']]

In [107]:
#replacing string (D) with 0 in value columns and converting to float
field_crops['Value']=field_crops['Value'].replace({' (D)':0, ' (Z)':0})
field_crops['Value']=field_crops['Value'].str.replace(',', '').astype(float)

In [108]:
#All field crops names
field_crops_list=field_crops['Commodity'].unique().tolist()
field_crops_list

['BARLEY',
 'CORN',
 'COTTON',
 'FIELD CROPS, OTHER',
 'GRAIN',
 'HAY',
 'HAY & HAYLAGE',
 'HAYLAGE',
 'OATS',
 'PEANUTS',
 'RYE',
 'SOYBEANS',
 'WHEAT',
 'GRASSES',
 'GRASSES & LEGUMES TOTALS',
 'LEGUMES',
 'PEAS',
 'SORGHUM',
 'SESAME',
 'SUNFLOWER',
 'HERBS',
 'GRASSES & LEGUMES, OTHER',
 'CANOLA',
 'BEANS',
 'BUCKWHEAT',
 'MINT',
 'JOJOBA',
 'CHICKPEAS',
 'RICE',
 'CAMELINA',
 'MILLET',
 'MAPLE SYRUP',
 'HOPS',
 'SAFFLOWER',
 'POPCORN',
 'MUSTARD',
 'TRITICALE',
 'WILD RICE',
 'EMMER & SPELT',
 'DILL',
 'SUGARBEETS',
 'TARO',
 'LENTILS',
 'FLAXSEED',
 'TOBACCO',
 'RAPESEED',
 'SUGARCANE',
 'SWITCHGRASS',
 'MISCANTHUS',
 'GUAR']

In [109]:
unique_field_crops = pd.DataFrame(field_crops_list)
unique_field_crops ['category'] = 'field crops'

In [110]:
unique_field_crops = unique_field_crops.rename(columns={0:'cropname'})

In [111]:
#value for each comodity with county
field_crops_df=field_crops.groupby(['County', 'State', 'Commodity']).agg({'Value':sum})
field_crops_df.reset_index(inplace=True)
field_crops_df

          County           State           Commodity       Value
0      ABBEVILLE  SOUTH CAROLINA                CORN       579.0
1      ABBEVILLE  SOUTH CAROLINA              COTTON         4.0
2      ABBEVILLE  SOUTH CAROLINA  FIELD CROPS, OTHER    825137.0
3      ABBEVILLE  SOUTH CAROLINA               GRAIN     10021.0
4      ABBEVILLE  SOUTH CAROLINA                 HAY     31587.0
...          ...             ...                 ...         ...
34678    ZIEBACH    SOUTH DAKOTA                PEAS     27952.0
34679    ZIEBACH    SOUTH DAKOTA             SORGHUM         6.0
34680    ZIEBACH    SOUTH DAKOTA            SOYBEANS    341278.0
34681    ZIEBACH    SOUTH DAKOTA           SUNFLOWER  93924215.0
34682    ZIEBACH    SOUTH DAKOTA               WHEAT   7816545.0

[34683 rows x 4 columns]

In [112]:
#saving data as csv 
field_crops_df.to_csv("cleaned_data/field_crops_data.csv",encoding="utf-8", index=False)

## Vegetables

In [113]:
#reading all vegetables csv for different states data to pandas dataframe
vegetables_data=[]
for i in range(8):
    df=pd.read_csv(f'data/vegetables{i}.csv')
    vegetables_data.append(df)
#concating all states datas to one dataframe
vegetables=pd.concat([data for data in vegetables_data], axis=0)

In [114]:
#selecting only important columns
vegetables=vegetables[['County','State','Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value']]

In [115]:
#replacing string (D) with 0 in value columns and converting to float
vegetables['Value']=vegetables['Value'].replace({' (D)':0, ' (Z)':0})
vegetables['Value']=vegetables['Value'].str.replace(',', '').astype(float)

In [116]:
vegetables.head()

,County,State,Commodity,Data Item,Domain,Domain Category,Value
0,AUTAUGA,ALABAMA,BEANS,"BEANS, GREEN, LIMA - ACRES HARVESTED",TOTAL,NOT SPECIFIED,NaN
1,AUTAUGA,ALABAMA,BEANS,"BEANS, GREEN, LIMA - OPERATIONS WITH AREA HARV...",TOTAL,NOT SPECIFIED,1.0
2,AUTAUGA,ALABAMA,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - ACRES HARVE...",TOTAL,NOT SPECIFIED,NaN
3,AUTAUGA,ALABAMA,BEANS,"BEANS, GREEN, LIMA, FRESH MARKET - OPERATIONS ...",TOTAL,NOT SPECIFIED,1.0
4,AUTAUGA,ALABAMA,BEANS,"BEANS, SNAP - ACRES HARVESTED",TOTAL,NOT SPECIFIED,NaN

In [117]:
#All vegetables names
vegetables_list=vegetables['Commodity'].unique().tolist()
vegetables_list

['BEANS',
 'CUCUMBERS',
 'EGGPLANT',
 'GREENS',
 'MELONS',
 'OKRA',
 'PEAS',
 'PEPPERS',
 'POTATOES',
 'PUMPKINS',
 'SQUASH',
 'SWEET CORN',
 'SWEET POTATOES',
 'TOMATOES',
 'TURNIPS',
 'VEGETABLE TOTALS',
 'VEGETABLES, OTHER',
 'CABBAGE',
 'ONIONS',
 'BROCCOLI',
 'LETTUCE',
 'BEETS',
 'CARROTS',
 'SPINACH',
 'RADISHES',
 'GARLIC',
 'HERBS',
 'ASPARAGUS',
 'BRUSSELS SPROUTS',
 'ESCAROLE & ENDIVE',
 'CAULIFLOWER',
 'GINGER ROOT',
 'HORSERADISH',
 'GINSENG',
 'CELERY',
 'PARSLEY',
 'RHUBARB',
 'DAIKON',
 'ARTICHOKES',
 'WATERCRESS',
 'CHICORY']

In [118]:
unique_vegetables = pd.DataFrame(vegetables_list)
unique_vegetables['category']= 'vegetables'

In [119]:
unique_vegetables = unique_vegetables.rename(columns={0:'cropname'})

In [120]:
unique_vegetables.head()

    cropname    category
0      BEANS  vegetables
1  CUCUMBERS  vegetables
2   EGGPLANT  vegetables
3     GREENS  vegetables
4     MELONS  vegetables

In [121]:
#value  for each comodity with county
vegetables_df=field_crops.groupby(['County', 'State', 'Commodity']).agg({'Value':sum})
vegetables_df.reset_index(inplace=True)
vegetables_df

          County           State           Commodity       Value
0      ABBEVILLE  SOUTH CAROLINA                CORN       579.0
1      ABBEVILLE  SOUTH CAROLINA              COTTON         4.0
2      ABBEVILLE  SOUTH CAROLINA  FIELD CROPS, OTHER    825137.0
3      ABBEVILLE  SOUTH CAROLINA               GRAIN     10021.0
4      ABBEVILLE  SOUTH CAROLINA                 HAY     31587.0
...          ...             ...                 ...         ...
34678    ZIEBACH    SOUTH DAKOTA                PEAS     27952.0
34679    ZIEBACH    SOUTH DAKOTA             SORGHUM         6.0
34680    ZIEBACH    SOUTH DAKOTA            SOYBEANS    341278.0
34681    ZIEBACH    SOUTH DAKOTA           SUNFLOWER  93924215.0
34682    ZIEBACH    SOUTH DAKOTA               WHEAT   7816545.0

[34683 rows x 4 columns]

In [122]:
#saving data as csv 
vegetables_df.to_csv("cleaned_data/vegetables_data.csv",encoding="utf-8", index=False)

## Fruits

In [123]:
#reading all fruits csv for different states data to pandas dataframe
fruits_data=[]
for i in range(1,8):
    df=pd.read_csv(f'data/fruits{i}.csv')
    fruits_data.append(df)
#concating all states datas to one dataframe
fruits=pd.concat([data for data in fruits_data], axis=0)

In [124]:
#selecting only important columns
fruits=fruits[['County','State','Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value']]

In [125]:
#replacing string (D) with 0 in value columns and converting to float
fruits['Value']=fruits['Value'].replace({' (D)':0, ' (Z)':0})
fruits['Value']=fruits['Value'].str.replace(',', '').astype(float)

In [126]:
#All fruits names
fruits_list=fruits['Commodity'].unique().tolist()
fruits_list

['APPLES',
 'BERRY TOTALS',
 'BLUEBERRIES',
 'FIGS',
 'FRUIT & TREE NUT TOTALS',
 'GRAPES',
 'NECTARINES',
 'NON-CITRUS TOTALS',
 'ORCHARDS',
 'PEACHES',
 'PEARS',
 'PECANS',
 'PLUMS',
 'PLUMS & PRUNES',
 'TREE NUT TOTALS',
 'PERSIMMONS',
 'BLACKBERRIES',
 'CITRUS TOTALS',
 'GRAPEFRUIT',
 'LEMONS',
 'LIMES',
 'POMEGRANATES',
 'RASPBERRIES',
 'TANGERINES',
 'TREE NUTS, OTHER',
 'CHESTNUTS',
 'APRICOTS',
 'STRAWBERRIES',
 'ALMONDS',
 'HAZELNUTS',
 'KUMQUATS',
 'NON-CITRUS, OTHER',
 'ORANGES',
 'CHERRIES',
 'ELDERBERRIES',
 'TANGELOS',
 'WALNUTS',
 'ARONIA BERRIES',
 'BERRIES, OTHER',
 'PASSION FRUIT',
 'KIWIFRUIT',
 'PLUM-APRICOT HYBRIDS',
 'OLIVES',
 'GUAVAS',
 'CURRANTS',
 'PISTACHIOS',
 'DATES',
 'CITRUS, OTHER',
 'BOYSENBERRIES',
 'AVOCADOS',
 'MACADAMIAS',
 'LOGANBERRIES',
 'PRUNES',
 'CHERIMOYAS',
 'PAPAYAS',
 'BANANAS',
 'COFFEE',
 'MANGOES',
 'CRANBERRIES',
 'PINEAPPLES']

In [127]:
unique_fruits = pd.DataFrame(fruits_list)
unique_fruits ['category'] = 'fruits'

In [128]:
unique_fruits = unique_fruits.rename(columns={0:'cropname'})

In [129]:
unique_fruits.head()

                  cropname category
0                   APPLES   fruits
1             BERRY TOTALS   fruits
2              BLUEBERRIES   fruits
3                     FIGS   fruits
4  FRUIT & TREE NUT TOTALS   fruits

In [130]:
unique_vegetables.head()

    cropname    category
0      BEANS  vegetables
1  CUCUMBERS  vegetables
2   EGGPLANT  vegetables
3     GREENS  vegetables
4     MELONS  vegetables

In [131]:
unique_field_crops.head()

             cropname     category
0              BARLEY  field crops
1                CORN  field crops
2              COTTON  field crops
3  FIELD CROPS, OTHER  field crops
4               GRAIN  field crops

In [132]:
crops_list=pd.concat([unique_field_crops,unique_vegetables,unique_fruits])

In [133]:
crops_list

              cropname     category
0               BARLEY  field crops
1                 CORN  field crops
2               COTTON  field crops
3   FIELD CROPS, OTHER  field crops
4                GRAIN  field crops
..                 ...          ...
55             BANANAS       fruits
56              COFFEE       fruits
57             MANGOES       fruits
58         CRANBERRIES       fruits
59          PINEAPPLES       fruits

[151 rows x 2 columns]

In [134]:
crops_list.to_csv("cleaned_data/crops_ulist.csv",encoding="utf-8", index=False)

In [135]:
#value for each comodity with county
fruits_df=field_crops.groupby(['County', 'State', 'Commodity']).agg({'Value':sum})
fruits_df.reset_index(inplace=True)
fruits_df

          County           State           Commodity       Value
0      ABBEVILLE  SOUTH CAROLINA                CORN       579.0
1      ABBEVILLE  SOUTH CAROLINA              COTTON         4.0
2      ABBEVILLE  SOUTH CAROLINA  FIELD CROPS, OTHER    825137.0
3      ABBEVILLE  SOUTH CAROLINA               GRAIN     10021.0
4      ABBEVILLE  SOUTH CAROLINA                 HAY     31587.0
...          ...             ...                 ...         ...
34678    ZIEBACH    SOUTH DAKOTA                PEAS     27952.0
34679    ZIEBACH    SOUTH DAKOTA             SORGHUM         6.0
34680    ZIEBACH    SOUTH DAKOTA            SOYBEANS    341278.0
34681    ZIEBACH    SOUTH DAKOTA           SUNFLOWER  93924215.0
34682    ZIEBACH    SOUTH DAKOTA               WHEAT   7816545.0

[34683 rows x 4 columns]

In [136]:
#saving data as csv 
fruits_df.to_csv("cleaned_data/fruits_data.csv",encoding="utf-8", index=False)

In [145]:
crops_list.reset_index(inplace = True)

In [146]:
crops_list.to_json("cleaned_data/crops_ulist.json")

In [157]:
crops_list.head()

   index            cropname     category
0      0              BARLEY  field crops
1      1                CORN  field crops
2      2              COTTON  field crops
3      3  FIELD CROPS, OTHER  field crops
4      4               GRAIN  field crops