In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import os
import seaborn as sns
from matplotlib import rcParams

In [ ]:
#reading all csv for different states data to pandas dataframe
all_data=[]
for i in range(1,17):
    df=pd.read_csv(f'data/{i}.csv')
    all_data.append(df)

In [ ]:
#concating all states datas to one dataframe
all_df=pd.concat([data for data in all_data], axis=0)

In [ ]:
all_df.shape

In [ ]:
all_df.head()

In [ ]:
#making a copy of combined dataframe
df_selected=all_df.copy()

In [ ]:
#columns 
df_selected.columns

In [ ]:
#only selecting certain columns
df_selected=df_selected[[ 'Zip Code','Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value']]

In [ ]:
df_selected

In [ ]:
df_selected['Zip Code'].nunique()

In [ ]:
df_selected['Zip Code'].value_counts()

In [ ]:
df_selected.set_index('Zip Code', inplace=True)

In [ ]:
df_selected.drop(df_selected.index[df_selected.index==99999], inplace=True)
df_selected.reset_index(inplace=True)

In [ ]:
df_selected['Domain'].value_counts()

In [ ]:
df_selected['Domain Category'].value_counts()

In [ ]:
df_selected['Data Item'].value_counts()

In [2]:
ca_data=pd.read_csv("data/ca.csv")

In [3]:
ca_data.head()

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,CENSUS,2017,YEAR,NaN,COUNTY,CALIFORNIA,6,CENTRAL COAST,40,ALAMEDA,...,NaN,NaN,0,NaN,ALMONDS,ALMONDS - ACRES BEARING,TOTAL,NOT SPECIFIED,(D),(D)
1,CENSUS,2017,YEAR,NaN,COUNTY,CALIFORNIA,6,CENTRAL COAST,40,ALAMEDA,...,NaN,NaN,0,NaN,ALMONDS,ALMONDS - ACRES BEARING & NON-BEARING,TOTAL,NOT SPECIFIED,(D),(D)
2,CENSUS,2017,YEAR,NaN,COUNTY,CALIFORNIA,6,CENTRAL COAST,40,ALAMEDA,...,NaN,NaN,0,NaN,ALMONDS,ALMONDS - OPERATIONS WITH AREA BEARING,TOTAL,NOT SPECIFIED,2,11.7
3,CENSUS,2017,YEAR,NaN,COUNTY,CALIFORNIA,6,CENTRAL COAST,40,ALAMEDA,...,NaN,NaN,0,NaN,ALMONDS,ALMONDS - OPERATIONS WITH AREA BEARING & NON-B...,TOTAL,NOT SPECIFIED,2,11.0
4,CENSUS,2017,YEAR,NaN,COUNTY,CALIFORNIA,6,CENTRAL COAST,40,ALAMEDA,...,NaN,NaN,0,NaN,APPLES,APPLES - ACRES BEARING,TOTAL,NOT SPECIFIED,(D),(D)

In [4]:
ca_data.columns

Index(['Program', 'Year', 'Period', 'Week Ending', 'Geo Level', 'State',
       'State ANSI', 'Ag District', 'Ag District Code', 'County',
       'County ANSI', 'Zip Code', 'Region', 'watershed_code', 'Watershed',
       'Commodity', 'Data Item', 'Domain', 'Domain Category', 'Value',
       'CV (%)'],
      dtype='object')

In [5]:
ca_data['Commodity'].value_counts()

VEGETABLE TOTALS    1310
HAY                  821
PEACHES              792
PEARS                778
WHEAT                758
                    ...
GINSENG                4
MUSHROOM SPAWN         4
DILL                   3
EMMER & SPELT          3
MUSTARD                3
Name: Commodity, Length: 155, dtype: int64

In [6]:
ca_data['Data Item'].value_counts()

ORCHARDS - OPERATIONS WITH AREA BEARING & NON-BEARING             411
VEGETABLE TOTALS, IN THE OPEN - OPERATIONS WITH AREA HARVESTED    348
HAY & HAYLAGE - OPERATIONS WITH AREA HARVESTED                    333
WHEAT - OPERATIONS WITH AREA HARVESTED                            180
CORN, GRAIN - OPERATIONS WITH AREA HARVESTED                      123
                                                                 ...
GRASSES, BAHIA GRASS, SEED - OPERATIONS WITH AREA HARVESTED         1
GRASSES, WHEATGRASS, SEED - PRODUCTION, MEASURED IN LB              1
GRASSES, WHEATGRASS, SEED - OPERATIONS WITH AREA HARVESTED          1
GRASSES, WHEATGRASS, SEED - ACRES HARVESTED                         1
TREE NUTS, OTHER - OPERATIONS WITH AREA NON-BEARING                 1
Name: Data Item, Length: 1189, dtype: int64

In [13]:
ca_data["Value"]=ca_data["Value"].replace({'D':0})

In [14]:
ca_data["Value"]

0         (D)
1         (D)
2           2
3           2
4         (D)
         ...
31966     (D)
31967       1
31968     (D)
31969     (D)
31970       1
Name: Value, Length: 31971, dtype: object

In [ ]:
ca_data.groupby("County")["Value"].mean()